/*================
Universal styles
=================*/

* {
    box-sizing: border-box;
}

/*================
Element Selectors
=================*/

body {
    font-family: 'Nunito', sans-serif;
    background-color: #334252;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cairo', sans-serif;
}

h1 {
    font-weight: 200;
    font-size: 1.5em;
    margin: 0;
}

h2 {
    font-weight: 300;
}

header {
    background-color: #F75940;
}

/*================
Class Selectors
=================*/

.desktop-nav {
    display: none;
}

.header-content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 90%;
    margin: auto;
}